.profile {
  width: 350px;
  height: 430px;
  padding: 20px;
  margin-left: 8%;
  margin-bottom: 45px;
  background-color: #FFFFFF;

  -webkit-box-shadow: 4px 4px 3px -2px rgba(171,171,171,1);
  -moz-box-shadow: 4px 4px 3px -2px rgba(171,171,171,1);
  box-shadow: 4px 4px 3px -2px rgba(171,171,171,1);
}

.profile-image {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50px;
  border: 1px solid grey;
}

.profile-name {
  color: #498F7A;
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
}

.profile-title {
  color: #F54F1B;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

.profile-description {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
}

.profile-button{
  width: 150px;
  justify-content: center;
  margin-left: 80px;
}