.slideshow{
  height: 480px;
  width: 100%;
  background: whitesmoke;
  text-align: center;
}

.services{
  height: 300px;
  width: 100%;
  background: #249278;
  text-align: center;
}

.ourValues{
  height: 700px;
  width: 100%;
  background: white;
  text-align: center;
}