.create-post-container {
  min-height: 100vh;
  background-image: url("../../assets/images/pattern.png");
}

.create-post-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 65px;
  margin-bottom: 40px;
}