.container {
    display: flex;
    height: 100vh;
    background-color: #F1F1F1;
}

.headings{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #249278;
}


.navigation {
    display: flex;
    width: 800px;
    margin: 30px auto 50px auto;

    .navigation-link {
        width: 400px;
        font-weight: 500;
        font-size: 14px;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 5px;
        margin-top: 15px;
        text-align: center;
    }
}

.posts {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}


