.home-container {
    display: flex;
    height: 100%;
    background-color: rgba(38, 144, 119, 0.05);
    min-height: calc(100vh - 70px);
}

.main-content {
    width: 100%;
}

.headings{
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #249278;
}

button {
    width: 80px;
    color: white;
    border: transparent;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #249278;
    -webkit-box-shadow: 7px 7px 19px -11px rgba(90,90,90,1);
    -moz-box-shadow: 7px 7px 19px -11px rgba(90,90,90,1);
    box-shadow: 7px 7px 19px -11px rgba(90,90,90,1);
    a {
        text-decoration: none;
        color: white;
    }
}

    .navigation {
        display: flex;
        width: 400px;
        margin: 30px auto 50px auto;

        .navigation-link {
            width: 200px;
            font-weight: 500;
            font-size: 14px;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 5px;
            margin-top: 15px;
            text-align: center;
        }
    }

.profiles {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    padding-top: 50px;
}

