.sidebar {
    float: left;
    width: 22%;
    color: white;
    height: 70vh;
    margin: 0;
    padding: 20px;
    border: 7px;
    border-radius: 7px;
    background-color: #2e7d32;
    box-shadow: 10px 10px 14px -11px rgba(27,69,29,1);
}
