.footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  padding: 50px 100px;
  color: var(--main);
  flex-wrap: wrap;
  //justify-content: space-evenly;
}

.contact {

  .contact-title {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .contact-text {
    font-size: 1rem;
  }

}

.social-media {
  margin-left: auto;

  .social-media-title {
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .social-media-text {
    font-size: 1rem;

  }
}

.copyrights {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  margin-top: 35px;

  font-size: .8rem;
  font-weight: bold;
  margin-bottom: 14px;
}


