.aboutUs{
  height: 800px;
  width: 100%;
  background: whitesmoke;
  text-align: center;
}

.ourpartners{
  height: 300px;
  width: 100%;
  background: #498F7A;
  text-align: center;
}
//
//.description{
//  padding: 10%;
//  padding-right: 20%;
//  padding-left: 20%;
//}