.login-container{
  height: 100vh;
  background-image: url("../../assets/images/pattern.png");
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  position: absolute;
  //bottom: 30px;
  height: 50px;
  width: auto;
  line-height: 30px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #249278;
  box-shadow: 10px 10px 14px -11px rgba(27,69,29,1);

  a {
    text-decoration: none;
    color: white;
  }
}

.login-title {
  color: var(--main);
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.login-button {
  button {
    width: 165px;
    height: 45px;
  }
}

.login-form {
  min-width: 400px;
}

.submit{
  color: white;
  padding: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #249278;
  box-shadow: 10px 10px 14px -11px rgba(27,69,29,1);

  a {
    text-decoration: none;
    color: white;
  }
}
