.form{
  background-color: whitesmoke;
}
.login-form {
  width: 400px;
  height: 500px;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  background-color: #269077;
}